<!DOCTYPE html>
<html>
<body>

    {%if message  %}
        {{ message }}
    {% endif %}

    {% if request.user.is_authenticated %}
        <h3>
            Welcome {{ request.user}} &nbsp;&nbsp;
            <a href="/students_details/logout/">Logout</a>&nbsp;&nbsp;&nbsp;
            <a href="/students_details/">Home</a>&nbsp;&nbsp;
             Last logined : {{ request.user.last_login }}
        </h3>

        <form action="/students_details/students_marks/" method="post">{% csrf_token %}
            <table style="text-align: left">
                {{ dashboard_form.as_table }}
            </table>
            <input type="submit" style="margin:2mm 4cm" value="ADD" >
        </form>

        <a href="/students_details/students_list"><h3>Show Student List</h3></a>

    {% else %}
       <h4>You are not login <a href="/students_details/login/">Please Login</a></h4>
    {% endif %}

</body>
</html>

